{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/backend/course.css' %}">
</head>
<body>

    <nav>
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu" class="menu-icon">&#9776;</label>
        
        <div class="navbar-left">
            <a href="#">👷‍♀️ Techtutor Coding School</a>
        </div>
        
        <div class="navbar-right">
            <a href="{% url 'myapp:menu' %}">Menu</a>
            <a href="">Concepts</a>
            <a href="{% url 'myapp:conceptmodel' %}">Add-concept</a>
            <a href="{% url 'myapp:coursemodel' %}">Add-course</a>
            <button id="user-circle"><a href="{% url 'profile' %}">{{ user.fullname|slice:":1" }}</a></button>
        </div>
    </nav>


    <div class="course-form-container">
        <div class="form-card">
            <h1 class="form-title">Create New Course</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    <label class="form-label">Course Name</label>
                    <input class="input_box" type="text" name="{{ f.coursename.name }}" required>
                </div>
    
                <div class="form-group">
                    <label class="form-label">Description</label>
                    <input class="input_box" type="text" name="{{ f.description.name }}" required>
                </div>
    
                <div class="form-group">
                    <label class="form-label">Course Image</label>
                    <input class="input_box" type="file" name="{{ f.courseimage.name }}" accept="image/*" required>
                </div>
    
                <div class="form-group">
                    <label class="form-label">Course Concepts</label>
                    {{ f.courselist }}
                </div>
    
                <div class="form-group">
                    <label class="form-label">Course Price</label>
                    <input class="input_box" type="number" name="{{ f.courseprice.name }}" required>
                </div>
    
                <div class="form-group">
                    <label class="form-label">Course Tutor</label>
                    <input class="input_box" type="text" name="{{ f.courseTutor.name }}" required>
                </div>
    
                <button type="submit" class="submit-btn">Create Course</button>
            </form>
        </div>
    </div>
</body>
</html>