{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/backend/course.css' %}">
</head>
<body>

    <nav>
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu" class="menu-icon">&#9776;</label>
        
        <div class="navbar-left">
            <a href="#">👷‍♀️ Techtutor Coding School</a>
        </div>
        
        <div class="navbar-right">
            <a href="{% url 'myapp:menu' %}">Menu</a>
            <a href="">Concepts</a>
            <a href="{% url 'myapp:conceptmodel' %}">Add-concept</a>
            <a href="{% url 'myapp:coursemodel' %}">Add-course</a>
            <button id="user-circle"><a href="{% url 'profile' %}">{{ user.fullname|slice:":1" }}</a></button>
        </div>
    </nav>


    <div class="course-form-container">
        <div class="form-card">
            <h1 class="form-title">Create New Course</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    <label class="form-label" for="{{ f.coursename.id_for_label }}">Course Name</label>
                    {{ f.coursename }}
                </div>

                <div class="form-group">
                    <label class="form-label" for="{{ f.description.id_for_label }}">Description</label>
                    {{ f.description }}
                </div>

                <div class="form-group">
                    <label class="form-label" for="{{ f.courseimage.id_for_label }}">Course Image</label>
                    {{ f.courseimage }}
                </div>

                <div class="form-group">
                    <label class="form-label" for="{{ f.courselist.id_for_label }}">Course Concepts</label>
                    {{ f.courselist }}
                </div>

                <div class="form-group">
                    <label class="form-label" for="{{ f.courseprice.id_for_label }}">Course Price</label>
                    {{ f.courseprice }}
                </div>

                <div class="form-group">
                    <label class="form-label" for="{{ f.courseTutor.id_for_label }}">Course Tutor</label>
                    {{ f.courseTutor }}
                </div>

                <button type="submit" class="submit-btn">Create Course</button>
            </form>
        </div>
    </div>
</body>
</html>