{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin/menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/backend/menu.css' %}">
</head>
<body>


    <nav>
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu" class="menu-icon">&#9776;</label>
        
        <div class="navbar-left">
            <a href="#">👷‍♀️ Techtutor Coding School</a>
        </div>
        
        <div class="navbar-right">
            <a href="{% url 'myapp:menu' %}">Menu</a>
            <a href="{% url 'myapp:menuconcepts' %}">Concepts</a>
            <a href="{% url 'myapp:conceptmodel' %}">Add-concept</a>
            <a href="{% url 'myapp:coursemodel' %}">Add-course</a>
            <button id="user-circle"><a href="{% url 'profile' %}">{{ user.fullname|slice:":1" }}</a></button>
        </div>
    </nav>

    <h1 class="card-heading">MENU</h1>
    <div class="course-container">
    {% for course in courses %}
    <div>
        <div class="course-card">
            <img src="{{ course.courseimage.url }}" alt="{{ course.coursename }}">
            <div class="content">
                <div>
                <h2>{{ course.coursename }}</h2>
                <p>{{ course.description|truncatewords:15 }}</p>
                </div>
                <hr>
                <div class="tags">
                    {% for concept in course.courselist.all %}
                        <div class="tag">{{ concept.courseconcept }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="footer">
                <p>By {{ course.courseTutor }}</p>
                <p>₹ {{ course.courseprice }}</p>
            </div>
        </div>
        <div>
            <a href="{% url 'myapp:delete' course.id %}"><button class="button">Delete</button></a>
        </div>
        <div>
            <a href="{% url 'myapp:update' course.id %}"><button class="button">Update</button></a>
        </div>
    </div>
    {% endfor %}
    <div>
        <a href="{% url 'myapp:coursemodel' %}"><span class="add-more">+</span></a>
    </div>
</div>
</body>
</html>