{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👷‍♀️ Update</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/frontend/update.css' %}">
</head>
<body>

    <nav>
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu" class="menu-icon">&#9776;</label>
        
        <div class="navbar-left">
            <a href="#">👷‍♀️ Techtutor Coding School</a>
        </div>
        
        <div class="navbar-right">
            <a href="{% url 'gethome' %}">Home</a>
            <a href="{% url 'getcourses' %}">Courses</a>
            <a href="{% url 'cartview' %}">Cart</a>
            <a href="{% url 'enrolledcourses' %}">Enrolled-courses</a>
            <a href="{% url 'logout' %}"><button id="nav-button">SignOut</button></a>
        </div>
    </nav>
    
    <div class="flex">
    <div class="update-container">
        <h1>Update Account</h1>
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="input-group">
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" value="{{ f.fullname.value }}" required>
            </div>
            
            <div class="input-group">
                <label for="email">Email address</label>
                <input type="email" id="email" name="email" value="{{ f.email.value }}" required>
            </div>

            <div class="input-group">
                <label for="ph_no">Phone Number</label>
                <input type="tel" id="ph_no" name="phone_no" value="{{ f.phone_no.value }}" required>
            </div>

            <input type="submit" class="continue-btn">
        </form>
    </div>
    </div>

</body>
</html>